ul.wp-block-create-block-sp-dynamic-posts {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	li {
		img {
			margin-bottom: 10px;
		}
		h3 {
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.4;
		}
		a {
			text-decoration: none;
			color: #000;
		}
		time {
			font-size: 12px;
			color: #555;
		}
		p {
			font-size: 14px;
			color: #303030;
			line-height: 1.6;
			margin: 15px 0 0;
		}
	}
}
